# Engine files
.dragonruby
builds
docs
include
samples
CHANGELOG*
console-logo.png
ctags*
dragonruby*
eula.txt
ffmpeg
font.ttf
logs
mygame-template
open-source-licenses.txt
tmp
VERSION.txt

# Others
.DS_Store
Gemfile.lock
vendor

